/*.node.gz
/*.tgz
/build/
node_modules/
/npm-*
/temp/
/prebuilds
/.vscode
/example/*-output.png
/spec/schema.json
/*.log
/vendor/freetype.tar
/vendor/freetype/builds
/vendor/freetype/docs
/vendor/freetype/ChangeLog*
/vendor/freetype/.clang-format

package-lock.json
.yarn
