/*.node.gz
/*.tgz
/build/
/node_modules/
/npm-*
/temp/
/yarn.lock
/.editorconfig
/.gitmodules
/.travis.yml
/appveyor.yml
/prebuilds
/.vscode
/.github
/tests
/spec
/example
/*.log

/vendor/freetype/docs

build/**/*
